/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
    "primary": #00a57d,
    "white": white
);


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
#container{
    height: auto i !important;
    min-height: 0vh !important;
}
#borderMedia{
    border: 1px solid black;
}